@tailwind base;
@tailwind components;
@tailwind utilities;

#nav a.active {
  text-decoration: underline #fff;
  text-underline-offset: 4px;
}
#nav a.active.logo {
  color: #fff;
  text-decoration: none;
}
