@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}
#nav a.active {
  text-decoration: underline #fff;
  text-underline-offset: 4px;
}
#nav a.active.logo {
  color: #fff;
  text-decoration: none;
}
